.vscode/
hmi/tar/
hmi/temp/
hmi/log.txt
hmi/PLCGEDefaultProperties.xml
hmi/*.pkgx
hmi/*.frp
*dat~
/bin
/client/hardware/hardware-backups
client/hardware/fp-info-cache
/controller/hardware/hardware-backups
*.lck
controller/hardware/\#auto_saved_files\#
controller/hardware/_autosave-hardware.kicad_sch
controller/hardware/fp-info-cache
*.zip
remote/hardware/fp-info-cache
remote/hardware/\#auto_saved_files\#
remote/hardware/_autosave-hardware.kicad_pcb
