.vscode/
hmi/tar/
hmi/temp/
hmi/log.txt
hmi/PLCGEDefaultProperties.xml
hmi/*.pkgx
hmi/*.frp
*dat~
/bin
/client/hardware/hardware-backups
client/hardware/fp-info-cache
/controller/hardware/hardware-backups
*.lck
